html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
  background: rgba(247, 254, 255, 1);
  padding: 65px 0 10px 0;
}

/* Навигация */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 60px;
  background-color: #0AB;
  border-bottom: 1px solid #ccc;
  z-index: 2;
  padding: 0 20px;
  box-sizing: border-box;
  bottom: -100px;
  left: 0;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 25px rgba(0, 170, 187, 1);
  cursor: pointer;
  animation: slideUp 1s linear forwards;
}

@keyframes slideUp {
  0% {
    bottom: -100px;
    /* Баштапкы абал (экранын сыртында) */
  }

  100% {
    bottom: 0;
    /* Көрүнүктүү абал */
  }
}

nav {
  width: 100%;
  height: 50px;
  background-color: #0AB;
  border: none;
  border-radius: 20px 20px 0 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s ease;
}

nav ul li {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin: 15px 0;
  width: 25%;
  text-align: center;
  cursor: pointer;
}

nav ul li {
  display: flex;
  flex-direction: column;
  transition: box-shadow 1s ease, border-radius 2s ease-out;
}

.fa-home {
  color: rgba(222, 77, 39, 1);
}

.fa-shopping-bag {
  color: rgba(90, 255, 174, 1);
}

.fa-book {
  color: rgba(98, 90, 255, 1);
}

.fa-handshake {
  color: rgba(235, 89, 255, 1);
}

nav ul li:hover {
  background-color: #0ab;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

.page {
  display: none;
}

#home {
  display: block;
}

.header {
  width: 100%;
  max-height: 100px;
  padding: 15px 0 15px 0;
  text-align: center;
  font-size: 22px;
  background: #0AB;
  box-shadow: 0 0 25px rgba(0, 170, 187, 1),
    inset 0 1px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: rgba(240, 240, 240, 1);
  border-radius: 0 0 30px 30px;
  cursor: pointer;
  margin-bottom: 20px;
  padding-top: 50px;
  animation: headerSlideUp 1s linear forwards;
  top: -100px;
  position: fixed;
}

@keyframes headerSlideUp {
  0% {
    too: -100px;
    /* Баштапкы абал (экранын сыртында) */
  }

  100% {
    top: 0;
    /* Көрүнүктүү абал */
  }
}

.video-wrapper {
  max-width: 770px;
  width: 85%;
  margin: 10px auto;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  border-radius: 10px;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-info {
  text-align: left;
  padding-top: 5px;
}

.video-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.video-subtitle {
  font-size: 16px;
  color: #777;
  font-style: italic;
}

.video-description {
  font-size: 18px;
  color: #555;
  margin-top: 5px;
}

@media (max-width: 480px) {
  .video-title {
    font-size: 18px;
  }

  .video-description {
    font-size: 16px;
  }
}

.greeting-container {
  padding: 20px;
}

.greeting-container h3 {
  margin-top: 0;
}

h3 {
  font-size: 28px;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
}

h3 span,
h3 a {
  color: rgba(30, 109, 243, 1);
}

h2 {
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  margin-top: 0;
  max-width: 300px;
    }
