body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(0, 170, 187, 1),
    inset 0 0 7px rgba(0, 170, 187, 1);
}

.container h2 {
  color: #007bff;
  margin-bottom: 15px;
  border-bottom: 3px dashed #007bff;
  display: inline-block;
}

p,
li {
  line-height: 1.6;
  margin-bottom: 15px;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
}

a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    margin: 50px 3%;
  }
}

