* {
  margin: 0;
  padding: 0;
}

.site-header {
  background-color: #4CAF50;
  padding: 20px 0;
  color: white;
  border: none;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-title {
  font-size: 24px;
  font-weight: bold;
}

.main-navigation ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.main-navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.main-navigation a:hover {
  color: #ddd;
}

.language-switcher-container {
  display: flex;
  align-items: center;
}

.language-option {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  color: #4CAF50;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.language-option:hover {
  background-color: #4CAF50;
  color: white;
}

/* Жалпы жаңылыктар бөлүмү */
.news-section {
  padding: 20px 15px;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Бөлүмдүн аталышы */
.section-title {
  font-size: 1em;
  text-align: center;
  color: #333;
  margin-bottom: 5px;
}

/* Жаңылыктардын тизмеси */
.news-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Ар бир жаңылык */
.news-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.news-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Жаңылыктын аталышы */
.news-item h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

/* Жаңылыктын тексти */
.news-item p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* "Көбүрөөк окуу" шилтемеси */
.read-more {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9em;
}

.read-more:hover {
  text-decoration: underline;
}

/* footer */

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5C5C5C;
  color: #fff;
  margin: auto;
  padding: 20px;
  bottom: 0;
}

/* Түзмөктөргө ыңгайлаштыруу */

@media (max-width: 400px) {
  .main-navigation {
    display: none;
  }
}

@media (min-width: 768px) {
  .news-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .section-title {
    display: none;
  }

  .news-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (min-width: 1024px) {
  .news-item {
    flex: 1 1 calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 15px;
  }

  .main-navigation ul {
    flex-direction: column;
    gap: 10px;
  }

  .language-option {
    width: 100%;
    font-size: 14px;
  }
}